<!DOCTYPE html>
<html>
    <head>
        <title>UL-CS</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <%- include('menu') %>

        <h2>Formulario Torneo</h2>

        <div class="row">
            <div class="col">
                <!-- Formulario de datos-->
                <form method="post" action="/torneos/modificar">
                    <input type="hidden" name="torneo_id" value="<%= torneo.id %>" />
                    <div>
                        <label class="form-label">Nombre:</label>
                        <input name="torneo_nombre" 
                            type="text" 
                            class="form-control"
                            value="<%= torneo.nombre %>" />
                    </div>
                    <div>
                        <label class="form-label">Tipo Torneo:</label>
                        <select name="torneo_tipotorneo_id" class="form-select">
                            <option value="-1">----- Seleccione una opción -----</option>
                            <% tiposTorneo.forEach( (tipo)=> { %>
                                <% if (tipo.id == torneo.tipoTorneoId)  { %>
                                    <option selected value="<%= tipo.id%>"><%= tipo.nombre %></option>
                                <% }else { %>
                                    <option value="<%= tipo.id%>"><%= tipo.nombre %></option>
                                <% } %>
                            <% }) %>
                        </select>
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Fecha:</label>
                        <input name="torneo_fecha" 
                            type="date" 
                            class="form-control"
                            value="<%= torneo.fecha.toISOString().substring(0,10) %>"/>
                    </div>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </form>
            </div>
            <div class="col">
                <!-- Lista de equipos -->
                <h3>Equipos registrados</h3>
                <div>
                    <form>
                        <select class="form-select">
                            <option value="-1">---- Seleccione equipo ----</option>
                            <% equipos.forEach( (equipo)=> { %>
                                <option value="<%= equipo.id %>"><%= equipo.nombre %></option>
                            <% }) %>
                        </select>
                        <button class="btn btn-success" type="submit">+</button>
                    </form>
                    <hr/>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% equiposEnTorneo.forEach((equipo)=> { %>
                                <tr>
                                    <td><%= equipo.nombre %></td>
                                    <td><a class="btn btn-success" 
                                            href="/torneo/equipo/delete/<%= torneo.id %>/<%= equipo.id %>">
                                            X
                                        </a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <%- include('footer') %>
    </body>
</html>