<!DOCTYPE html>
<html>
    <head>
        <title>UL-CS</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <%- include('menu') %>

        <h2>Mantenimiento de Torneos</h2>
        <a class="btn btn-success" href="/torneos/new">Nuevo</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% torneos.forEach( (torneo) => { %>
                    <tr>
                        <td><%= torneo.id %></td>
                        <td><%= torneo.nombre %></td>
                        <td><%= torneo.fecha.toLocaleDateString('es-PE') %></td>
                        <td>
                            <a href="/torneos/modificar/<%= torneo.id %>" >Editar</a>
                            <a href="#" >Eliminar</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

        <%- include('footer') %>
    </body>
</html>